<!--Opciones de reserva-->
<mat-grid-list cols="3" rowHeight="70px" class="table-container">
  <mat-grid-tile>
    <ng-container >
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Fecha de entrada">
        <input matEndDate placeholder="Fecha de salida">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </ng-container>
  </mat-grid-tile>
  <mat-grid-tile >
    <mat-select>
      <mat-option>
        <label>Personas</label>
        <app-number-picker [value]="numeroPersonasControl.value ?? 1" (valueChange)="numeroPersonasControl.setValue($event)">
        </app-number-picker>
      </mat-option>
      <mat-option>
        <label>Habitaciones</label>
        <app-number-picker [value]="numeroHabitacionesControl.value ?? 1" (valueChange)="numeroHabitacionesControl.setValue($event)">
        </app-number-picker>
      </mat-option>
    </mat-select>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="warn">Buscar</button>
  </mat-grid-tile>
</mat-grid-list>

<!--Tabla con información de hoteles-->
<div >
  <mat-card class="table-container">
    <table mat-table [dataSource]="hoteles">
      <ng-container matColumnDef="filtros">
        <th mat-header-cell *matHeaderCellDef>Filtros</th>
        <td mat-cell *matCellDef="let hotel">ass</td>
      </ng-container>
        <ng-container matColumnDef="nombreHotel">
          <th mat-header-cell *matHeaderCellDef> Nombre del Hotel </th>
          <td mat-cell *matCellDef="let hotel"> {{ hotel.nombreHotel }} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let hotel">
            <button mat-raised-button color="primary" (click)="reservar()">Reservar</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['filtros','nombreHotel', 'acciones']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['filtros','nombreHotel', 'acciones']"></tr>
    </table>
  </mat-card>
 </div>