<mat-toolbar color="primary" class="toolbar-container">
        <a [routerLink]="'/signup'" class="mat-icon-button" mat-icon-button *ngIf="!isLoggedIn" aria-label="Example icon-button with heart icon">
        Registrarse
        </a>
        <a [routerLink]="'/login'" class="mat-icon-button" mat-icon-button *ngIf="!isLoggedIn" aria-label="Example icon-button with heart icon" >
        Iniciar Sesión
        </a>
        <a [routerLink]="'/hoteles'" class="mat-icon-button" mat-icon-button *ngIf="isAdmin" aria-label="Example icon-button with heart icon">
        Editar Hoteles 
        </a>
        <a [routerLink]="'/reserva'" class="mat-icon-button" mat-icon-button *ngIf="isLoggedIn"  aria-label="Example icon-button with heart icon">
        Crear Reserva
        </a>
        <a [routerLink]="'/mis-reservas'" class="mat-icon-button" mat-icon-button *ngIf="isLoggedIn" aria-label="Example icon-button with heart icon">
        Mis Reservas
        </a>
        <a [routerLink]="'/reserva'" class="mat-icon-button" mat-icon-button *ngIf="isLoggedIn" (click)="logout()" aria-label="Example icon-button with heart icon">
        Cerrar sesión
        </a>
</mat-toolbar>