
    <table mat-table [dataSource]="reservas">
        <ng-container matColumnDef="fechaInicio">
            <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
            <td mat-cell *matCellDef="let reservas"> {{ reservas.fechaInicio}} </td>
        </ng-container>
        <ng-container matColumnDef="fechaFin">
            <th mat-header-cell *matHeaderCellDef>Fecha Fin</th>
            <td mat-cell *matCellDef="let reservas"> {{reservas.fechaFin}} </td>
        </ng-container>
        <ng-container matColumnDef="capacidadHotel">
            <th mat-header-cell *matHeaderCellDef>Habitaciones Reservadas</th>
            <td mat-cell *matCellDef="let reservas"> {{reservas.capacidadHotel}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['fechaInicio','fechaFin', 'capacidadHotel']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['fechaInicio', 'fechaFin' ,'capacidadHotel']"></tr>
    </table>

